:root {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;

  --darkest-blue: #0C0032;
  --dark-blue: #190061;
  --blue: #240090;
  --lighter-blue: #3500D3;
  --dark-gray: #282828;
}

.App {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  max-width: 100vw;
  /* overflow: hidden; */
  /* min-height: 110vh; */
}

body {

}

hr {
  border: 1px solid var(--blue);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem 2rem 2rem;
  margin-bottom: -2rem;

}

.logo {
  margin-right: auto;
  width: 8rem;
}

ul {
  list-style: none;
}


